body {
    height: 100vh;
    margin: 0;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 75px;
}

.top-bar {
    height: 20px;
    background-color: rgb(179, 178, 178);
}

.card {
    height: 75vh !important;
    width: 90vw !important;
    border-width: 0 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0%), 0 3px 1px -2px rgb(0 0 0 / 0%), 0 1px 5px 0 rgb(0 0 0 / 0%);
}

.card-body {
    border-radius: 10px;
    padding: 0 !important;
}

.nav-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 78);
    color: white;
    padding: 10px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 75vh !important;
    width: 200px;
    font-family: 'Rubik' !important;
}

.nav-text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    border-left: 3px solid transparent;
}

.nav-text:hover {
    cursor:pointer;
    color: white;
    font-weight: 500;
    border-left: 3px solid;
    transition: all 75ms ease-in-out;
    padding-left: 2px;
}

.logo-img {
    height: 80px;
    width: 80px;
    margin-bottom: 64px;
    object-fit: contain;
}

.space-bottom {
    margin-bottom: 32px;
}

.content-center {
    height: 75vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.background-img {
    background-image: url('img/brainbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-quiz {
    text-align: center;
    font-family: 'PT Sans';
}

h1 {
    font-weight: bold !important;
}

.card-text {
    font-size: 20px;
}

.button {
    background-color: rgb(211, 79, 3) !important;
    color: white !important;
    width: 200px;
    position: fixed;
    bottom: 170px;
    right: 140px;
}

.button:hover {
    transform: scale(1.02);
}

.arrow-btn  {
    height: 20px;
    margin-left: 20px;  
    padding-bottom: 3px;
}

.background-alice {
    background-color: aliceblue;
}

h5 {
    font-size: 21px !important;
    text-align: center;
    margin-bottom: 48px !important;
    font-weight: bold !important;
}

.question-card {
    margin: 24px;
    font-family: 'Rubik' !important;
}

.abcd {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 24px;
    background-color: white;
    cursor: pointer;
}

.abcd:hover {
    transform: scale(1.005);
    background-color: rgb(255, 247, 247);
}

.letter-box {
    background-color: #d3d3d3;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
}

.answer {
    font-weight: 600;
    font-size: 17px;
    margin-left: 64px;
}

.left-right-arrow {
    display: flex;
    justify-content: space-around;
}

.hide {
    display: none;
}

.arrow-hover {
    cursor: pointer;
}

.arrow-hover:hover {
   transform: scale(1.05);
}

.bg-lightgreen {
    background-color: lightgreen !important;
}

.bg-lightred {
    background-color: rgba(255, 0, 0, 0.493) !important;
}

.color {
    color: white;
}